* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
    font-size: 25px;
    user-select: none;
    --border-radius: 10px
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: black;
}

.container {
    align-self: center;
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    box-shadow: 0 0 20px 15px rgb(101, 154, 200);
}

.buttons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.display-container {
    flex-basis: 80px;
    border: 2px solid red;
    border: 2px solid gray;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.display {
    color: aquamarine;
    text-align: end;
    line-height: 80px;
    font-size: 40px;
    margin: 0 20px;
    overflow: hidden;
}

.buttons > * {
    flex: 1 0 25%;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.25s;
}

.buttons > *:hover {
    box-shadow: 0 0 20px 8px cyan;
}
.buttons > *:active {
    transform: scale(0.9);
}
.orange-column:hover {
    box-shadow: 0 0 20px 8px orange;
}

.zero {
    flex: 1 0 50%;
    border-bottom-left-radius: var(--border-radius);
}

.decimal,
.equals {
    flex-basis: 25%;
}

.equals {
    border-bottom-right-radius: var(--border-radius);
}

.orange-columns {
    color: rgb(242, 163, 60);
}

.dark-row {
    color: grey;
}
.dark-row:hover {
    box-shadow: 0 0 20px 8px cadetblue;
}
